body {
   margin: 0;
   background: #f6c6a8;
   padding: 0; }

#wrapper1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; }

#wrapper2 {
   box-sizing: border-box;
   width: 95vw;
   padding: 5px; }

#canvas {
   cursor: pointer;
   width: 100%;
   height: 100%; }
